* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10vw;
    margin-bottom: 5vh;
}

.emoji {
    font-size: 5em;
    transition: .1s ease;
    cursor: pointer;
}

.emoji:hover {
    transition: .25s ease;
    transform: scale(1.2);
}

.score-board {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10vw;
}